---
import { getCollection, render } from "astro:content";
import BaseLayout from "../../layouts/BaseLayout.astro";
// 1. Generate a new path for every collection entry
const posts = await getCollection("wiki");
export async function getStaticPaths() {
  const posts = await getCollection("wiki");
  return posts.map((post, index) => ({
    params: { id: post.id },
    props: {
      post,
    },
  }));
}
// 2. For your template, you can get the entry directly from the prop
const { post } = Astro.props;
const { Content } = await render(post);

const title = `Wiki - ${post.data.title}`;
---

<BaseLayout pageTitle={title}>
  <main class="w-11/12 mx-auto max-w-7xl min-h-dvh">
    <section>
      <h1 class="">{post.data.title}</h1>
      <ul class="flex flex-wrap list-none group gap-3 mt-6">
      {posts.map((post, index) => {
        return (
          <li class="group">
            <a href={`/wiki/${post.id}`} class="bg-gray-2 rounded-full no-underline px-6 py-3 text-sm/7 hover:underline hover:cursor-pointer">
              {post.data.title}
            </a>
          </li>
        )
      })}
      </ul>
    </section>
    <article class="lg:mt-12 prose max-w-[100ch] text-balance prose-headings:capitalize prose-headings:text-xl/[2] text-base/[2] text-black">
      <Content />
    </article>
  </main>
</BaseLayout>
