---
import { getCollection, render } from "astro:content";
import BaseLayout from "../../layouts/BaseLayout.astro";
// 1. Generate a new path for every collection entry
const posts = await getCollection("wiki");
export async function getStaticPaths() {
  const posts = await getCollection("wiki");
  return posts.map((post, index) => ({
    params: { id: post.id },
    props: {
      post,
      prevPost: index > 0 ? posts[index - 1] : null,
      nextPost: index < posts.length - 1 ? posts[index + 1] : null,
    },
  }));
}
// 2. For your template, you can get the entry directly from the prop
const { post, prevPost, nextPost } = Astro.props;
const { Content } = await render(post);

const title = `Wiki - ${post.data.title}`;
---

<BaseLayout pageTitle={title}>
  <main class="w-11/12 mx-auto max-w-7xl min-h-dvh flex flex-1">
    <section
      class="prose max-w-[80ch] text-pretty prose-headings:capitalize prose-headings:text-xl text-base/7 text-black"
    >
      <h1>
        {post.data.title}
      </h1>
      <ul class="flex flex-wrap list-none group gap-3">
      {posts.map((post, index) => {
        return (
          <li class="group">
            <a href={`/wiki/${post.id}`} class="bg-gray-2 rounded-full no-underline px-6 py-3 text-sm/7 hover:underline hover:cursor-pointer">
              {post.data.title}
            </a>
          </li>
        )
      })}
      </ul>
      <Content />
      <div
        class="mt-12 py-6 border-t border-black/30 flex justify-between items-center [&>div>a]:text-sm"
      >
        <div>
          {
            prevPost && (
              <a
                href={`/wiki/${prevPost.id}`}
                class="text-blue-600 hover:underline"
              >
                ← {prevPost.data.title}
              </a>
            )
          }
        </div>

        <div>
          {
            nextPost && (
              <a
                href={`/wiki/${nextPost.id}`}
                class="text-blue-600 hover:underline"
              >
                {nextPost.data.title} →
              </a>
            )
          }
        </div>
      </div>
    </section>
  </main>
</BaseLayout>
